<a href="{{ path('vms_cart') }}">Panier -
    <span class="cart-amunt">
        <span id="total">
            {{ price }}
        </span> €
    </span>
    <i class="fa fa-shopping-cart"></i>
    <span class="product-count">
        <span id="count">
            {{ articles }}
        </span>
    </span>
</a>